USE [master]
GO
/****** Object:  Database [TMDT]    Script Date: 9/7/2021 10:32:18 PM ******/
CREATE DATABASE [TMDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TMDT.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TMDT_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMDT]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[TIME] [datetime] NULL,
	[MASP] [varchar](15) NULL,
	[MAKH] [varchar](15) NULL,
 CONSTRAINT [PK__BINHLUAN__3214EC271379F3D3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DONDATHANG]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DONDATHANG](
	[MADDH] [varchar](15) NOT NULL,
	[MASP] [varchar](15) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [float] NOT NULL,
 CONSTRAINT [PK_CT_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_KHUYENMAI]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_KHUYENMAI](
	[MASP] [varchar](15) NOT NULL,
	[MAKM] [varchar](15) NOT NULL,
	[PHANTRAM] [float] NOT NULL,
 CONSTRAINT [PK_CT_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MAPN] [varchar](15) NOT NULL,
	[MASP] [varchar](15) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [bigint] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDH]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDH](
	[MADH] [varchar](15) NOT NULL,
	[MASP] [varchar](15) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAPT] [varchar](15) NULL,
	[SLTRA] [int] NULL,
	[GIA] [float] NOT NULL,
 CONSTRAINT [PK__CTDH__563D28E43B816430] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MASP] [varchar](15) NOT NULL,
	[MAKH] [varchar](15) NOT NULL,
	[DANHGIA] [int] NULL,
 CONSTRAINT [PK__DANHGIA__B6217FA0B8A2728C] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADM] [varchar](15) NOT NULL,
	[TENDM] [nvarchar](50) NULL,
 CONSTRAINT [PK__DANHMUC__603F005C8E42D050] PRIMARY KEY CLUSTERED 
(
	[MADM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOIGIA]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOIGIA](
	[MASP] [varchar](15) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[GIASAUDOI] [int] NOT NULL,
	[MANV] [varchar](15) NULL,
 CONSTRAINT [PK_DOIGIA] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [varchar](15) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[MANCC] [varchar](15) NOT NULL,
	[MANV] [varchar](15) NOT NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [varchar](15) NOT NULL,
	[HINHTHUCTHANHTOAN] [int] NULL,
	[NGAYDAT] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[TRANGTHAI] [int] NULL,
	[MAKH] [varchar](15) NULL,
	[MANV] [varchar](15) NULL,
	[MANVGH] [varchar](15) NULL,
	[TEN] [nvarchar](50) NULL,
	[HO] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [varchar](11) NULL,
	[EMAIL] [varchar](50) NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK__DONHANG__603F00476E005B6F] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MASP] [varchar](15) NOT NULL,
	[MAKH] [varchar](15) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK__GIOHANG__B6217FA03F8B7896] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [varchar](15) NOT NULL,
	[TENHANG] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [varchar](15) NOT NULL,
	[NGAYLAP] [date] NULL,
	[THANHTIEN] [float] NULL,
	[MASOTHUE] [varchar](50) NOT NULL,
	[MADONHANG] [varchar](15) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](15) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[GIOITINH] [int] NULL,
	[SDT] [varchar](11) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIACHI] [nvarchar](255) NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C1F72D4F6] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](15) NOT NULL,
	[TENKM] [nvarchar](255) NOT NULL,
	[NGAYBATDAU] [datetime] NOT NULL,
	[NGAYKETTHUC] [datetime] NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[MANV] [varchar](15) NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](15) NOT NULL,
	[TENNCC] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](15) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[SDT] [varchar](11) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[DIACHI] [nvarchar](255) NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK__NHANVIEN__603F51141D1BBA5A] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [varchar](15) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MADDH] [varchar](15) NULL,
	[MANV] [varchar](15) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPT] [varchar](15) NOT NULL,
	[MAHOADON] [varchar](15) NOT NULL,
	[NGAYTRA] [datetime] NOT NULL,
	[MANV] [varchar](15) NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [int] NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](15) NOT NULL,
	[TENSP] [nvarchar](255) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[MOTA_CHITIET] [nvarchar](500) NULL,
	[PHOTO] [nvarchar](500) NULL,
	[PHOTO1] [varchar](500) NULL,
	[PHOTO2] [varchar](500) NULL,
	[MAHANG] [varchar](15) NULL,
	[TRANGTHAI] [int] NULL,
	[MANCC] [varchar](15) NULL,
	[MADM] [varchar](15) NULL,
 CONSTRAINT [PK__SANPHAM__60228A32418AB845] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[MAQUYEN] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_KHUYENMAI] ([MASP], [MAKM], [PHANTRAM]) VALUES (N'CT-BE917', N'KM01', 10)
INSERT [dbo].[CT_KHUYENMAI] ([MASP], [MAKM], [PHANTRAM]) VALUES (N'CT-BE9170-13H', N'KM01', 25)
INSERT [dbo].[CT_KHUYENMAI] ([MASP], [MAKM], [PHANTRAM]) VALUES (N'DM61195', N'KM01', 30)
INSERT [dbo].[CTDH] ([MADH], [MASP], [SOLUONG], [MAPT], [SLTRA], [GIA]) VALUES (N'DH1643984', N'AG-G1009', 2, NULL, NULL, 450)
INSERT [dbo].[CTDH] ([MADH], [MASP], [SOLUONG], [MAPT], [SLTRA], [GIA]) VALUES (N'DH16939439', N'AG-G1009', 1, NULL, NULL, 3000)
INSERT [dbo].[CTDH] ([MADH], [MASP], [SOLUONG], [MAPT], [SLTRA], [GIA]) VALUES (N'DH16939439', N'CT-BE9170-13H', 1, NULL, NULL, 1700)
INSERT [dbo].[DANHMUC] ([MADM], [TENDM]) VALUES (N'01', N'Đồng hồ cơ')
INSERT [dbo].[DANHMUC] ([MADM], [TENDM]) VALUES (N'02', N'Đồng hồ số')
INSERT [dbo].[DANHMUC] ([MADM], [TENDM]) VALUES (N'03', N'Đồng hồ kim cương')
INSERT [dbo].[DONHANG] ([MADH], [HINHTHUCTHANHTOAN], [NGAYDAT], [TONGTIEN], [TRANGTHAI], [MAKH], [MANV], [MANVGH], [TEN], [HO], [DIACHI], [SDT], [EMAIL], [GHICHU]) VALUES (N'DH1643984', 0, CAST(N'2021-08-27 01:14:04.000' AS DateTime), 2480, 0, N'KH1503732', NULL, NULL, N'Như Thảo', N'Lê', N'91 Man Thiện', N'0123456789', N'huonghaehae@gmail.com', NULL)
INSERT [dbo].[DONHANG] ([MADH], [HINHTHUCTHANHTOAN], [NGAYDAT], [TONGTIEN], [TRANGTHAI], [MAKH], [MANV], [MANVGH], [TEN], [HO], [DIACHI], [SDT], [EMAIL], [GHICHU]) VALUES (N'DH16939439', 0, CAST(N'2021-08-28 09:15:39.467' AS DateTime), 2500, 0, N'KH1503732', NULL, NULL, N'Thảo', N'Lê Như', N'91 Man Thiện, Q9', N'0123456789', N'huonghaehae@gmail.com', NULL)
INSERT [dbo].[DONHANG] ([MADH], [HINHTHUCTHANHTOAN], [NGAYDAT], [TONGTIEN], [TRANGTHAI], [MAKH], [MANV], [MANVGH], [TEN], [HO], [DIACHI], [SDT], [EMAIL], [GHICHU]) VALUES (N'DH1812511', 0, CAST(N'2021-08-27 01:16:52.517' AS DateTime), 2400, 0, N'KH1503732', NULL, NULL, N'Như Thảo', N'Lê', N'91 Man Thiện', N'0123456789', N'huonghaehae@gmail.com', NULL)
INSERT [dbo].[GIOHANG] ([MASP], [MAKH], [SOLUONG]) VALUES (N'DH1209', N'194654522', 1)
INSERT [dbo].[GIOHANG] ([MASP], [MAKH], [SOLUONG]) VALUES (N'PA5003B', N'194654522', 18)
INSERT [dbo].[HANG] ([MAHANG], [TENHANG]) VALUES (N'CTZ', N'Cityzen')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG]) VALUES (N'DD', N'Diamon D')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG]) VALUES (N'HBL', N'Hublot')
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [THANHTIEN], [MASOTHUE], [MADONHANG]) VALUES (N'HD1', CAST(N'2021-08-18' AS Date), 1240, N'MST1', N'DH2432040')
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [THANHTIEN], [MASOTHUE], [MADONHANG]) VALUES (N'HD2', CAST(N'2021-08-26' AS Date), 2480, N'MST2', N'DH1643984')
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [THANHTIEN], [MASOTHUE], [MADONHANG]) VALUES (N'HD3', CAST(N'2021-07-23' AS Date), 2500, N'MST3', N'DH16939439')
INSERT [dbo].[KHACHHANG] ([MAKH], [USERNAME], [HO], [TEN], [GIOITINH], [SDT], [EMAIL], [DIACHI]) VALUES (N'123212334', NULL, N'Nguyễn Minh', N'Anh', 1, N'0123123122', N'anhminhnguyen@gmail.com', N'Hồ Chí Minh')
INSERT [dbo].[KHACHHANG] ([MAKH], [USERNAME], [HO], [TEN], [GIOITINH], [SDT], [EMAIL], [DIACHI]) VALUES (N'124012100', N'hongnga', N'Hoàng Hồng', N'Nga', 0, N'0314215121', N'hognga123@gmail.com', N'Hà Nội')
INSERT [dbo].[KHACHHANG] ([MAKH], [USERNAME], [HO], [TEN], [GIOITINH], [SDT], [EMAIL], [DIACHI]) VALUES (N'194654522', N'huyhoang', N'Nguyễn Huy', N'Hoàng', 1, N'0121221322', N'huyhoangnguyen12@gmail.com', N'Thủ Đức')
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYKETTHUC], [MOTA], [MANV]) VALUES (N'KM01', N'Khuyến mãi 2/9', CAST(N'2021-08-01 00:00:00.000' AS DateTime), CAST(N'2021-09-30 00:00:00.000' AS DateTime), NULL, N'145245241')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'FJN', N'Fujinet', N'100 Man Thiện, Tăng Nhơn Phú A, Quận 9', N'fjn@fjn.net', N'018522265')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'NCC1', N'Vascara', N'280 LT Tân Phú, Hồ Chí Minh', N'vasca@vasca.net', N'18001412')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [EMAIL], [SDT]) VALUES (N'VTF', N'VT', N'230 Phổ Quang, Tân Bình, Hồ Chí MInh', N'vtf@vtn.com', N'154245210')
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [HO], [TEN], [GIOITINH], [SDT], [EMAIL], [DIACHI], [LUONG]) VALUES (N'11111111', N'hoanganh', N'Hoàng', N'Anh', 1, N'012451241', N'hoanganh1@gmail.com', N'Thủ Đức', 12000)
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [HO], [TEN], [GIOITINH], [SDT], [EMAIL], [DIACHI], [LUONG]) VALUES (N'145245241', N'huong', N'Nguyễn', N'Hương', 0, N'012345678', N'huongnguyen@gmail.com', N'97 Man Thiện', 10000)
INSERT [dbo].[NHANVIEN] ([MANV], [USERNAME], [HO], [TEN], [GIOITINH], [SDT], [EMAIL], [DIACHI], [LUONG]) VALUES (N'194645444', N'minh', N'Nguyễn Hoàng', N'Minh', 1, N'014741471', N'hoangminh@gmail.com', N'30 Lê Văn Việt, Thủ Đức', 300)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYLAP], [MADDH], [MANV]) VALUES (N'1111111', CAST(N'2021-08-28 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (1, N'Admin')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (2, N'Khachhang')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (3, N'NHANVIEN')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [DONGIA], [MOTA_CHITIET], [PHOTO], [PHOTO1], [PHOTO2], [MAHANG], [TRANGTHAI], [MANCC], [MADM]) VALUES (N'1221', N'Đồng hồ Aries Gold AG-G1009 S-RW55', 58, 1200, N'', N'https://www.dangquangwatch.vn/upload/product/5643108_donghonu20.jpg', NULL, NULL, N'CTZ', 1, N'FJN', N'01')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [DONGIA], [MOTA_CHITIET], [PHOTO], [PHOTO1], [PHOTO2], [MAHANG], [TRANGTHAI], [MANCC], [MADM]) VALUES (N'22', N'Đồng hồ Aries Gold AG-G1009 S-RW3', 53, 2000, N'', N'https://www.dangquangwatch.vn/upload/product/350863930_donghothoitrang8.jpg', NULL, NULL, N'CTZ', 0, NULL, N'02')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [DONGIA], [MOTA_CHITIET], [PHOTO], [PHOTO1], [PHOTO2], [MAHANG], [TRANGTHAI], [MANCC], [MADM]) VALUES (N'AG-G10010', N'Đồng hồ Aries Gold AG-G1009 G-RW4', 52, 1200, N'Đường kính mặt
36 mm.
Độ chịu nước
5 ATM. 
Chất liệu mặt
Sapphire', N'https://firebasestorage.googleapis.com/v0/b/hongquan-c16c6.appspot.com/o/quoc%2F31793405_donghochinhhang1.jpg?alt=media&token=bd287197-4221-460a-a22d-8e41cc6b2367', NULL, NULL, N'HBL', 1, N'FJN', N'02')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [MAQUYEN]) VALUES (N'haianh', N'123', 2)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [MAQUYEN]) VALUES (N'hoanganh', N'12', 1)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [MAQUYEN]) VALUES (N'hongnga', N'123', 2)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HOADON]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [IX_HOADON] UNIQUE NONCLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__6023721777300393]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ__KHACHHAN__6023721777300393] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__60237217D79649F1]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ__KHACHHAN__60237217D79649F1] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__602372172A76A654]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ__NHANVIEN__602372172A76A654] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__60237217C9F806BE]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ__NHANVIEN__60237217C9F806BE] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PHIEUNHAP]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [IX_PHIEUNHAP] UNIQUE NONCLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_PHIEUNHAP]    Script Date: 9/7/2021 10:32:18 PM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [unique_PHIEUNHAP] UNIQUE NONCLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK__BINHLUAN__MAKH__286302EC] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK__BINHLUAN__MAKH__286302EC]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_SANPHAM]
GO
ALTER TABLE [dbo].[CT_DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONDATHANG_DONDATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[CT_DONDATHANG] CHECK CONSTRAINT [FK_CT_DONDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CT_DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONDATHANG_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DONDATHANG] CHECK CONSTRAINT [FK_CT_DONDATHANG_SP]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK__CTDH__MADH__2D27B809] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK__CTDH__MADH__2D27B809]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_PHIEUTRA] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHIEUTRA] ([MAPT])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_PHIEUTRA]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK__DANHGIA__MAKH__30F848ED] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK__DANHGIA__MAKH__30F848ED]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK__DANHGIA__MASP__2A4B4B5E] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK__DANHGIA__MASP__2A4B4B5E]
GO
ALTER TABLE [dbo].[DOIGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOIGIA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DOIGIA] CHECK CONSTRAINT [FK_DOIGIA_NHANVIEN]
GO
ALTER TABLE [dbo].[DOIGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOIGIA_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DOIGIA] CHECK CONSTRAINT [FK_DOIGIA_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK__DONHANG__MAKH__34C8D9D1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK__DONHANG__MAKH__34C8D9D1]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN1] FOREIGN KEY([MANVGH])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN1]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK__GIOHANG__MAKH__38996AB5] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK__GIOHANG__MAKH__38996AB5]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DONDATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DONDATHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_HOADON]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DANHMUC] FOREIGN KEY([MADM])
REFERENCES [dbo].[DANHMUC] ([MADM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DANHMUC]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_HANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_HANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__MAQUYE__412EB0B6] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__MAQUYE__412EB0B6]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETKHBYMAKH]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETKHBYMAKH]
@makh varchar(15)
AS
BEGIN
	SELECT * FROM KHACHHANG WHERE MAKH = @makh
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETSPBANCHAY]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETSPBANCHAY]

AS
BEGIN
	SELECT DISTINCT TOP  10 
      SUM(CTDH.SOLUONG) AS TONG, CTDH.MASP
FROM
       DONHANG, CTDH, SANPHAM
where DONHANG.NGAYDAT > DATEADD(DAY, -30, GETDATE()) AND DONHANG.MADH = CTDH.MADH AND SANPHAM.MASP = CTDH.MASP AND SANPHAM.TRANGTHAI <> 2

GROUP BY  CTDH.MASP
ORDER BY TONG DESC
END 


GO
/****** Object:  StoredProcedure [dbo].[SP_GIAKM]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GIAKM]
@masp varchar(15)
AS
BEGIN
	DECLARE @PHANTRAM float;
	DECLARE @GIA bigint;
	SELECT @PHANTRAM = PHANTRAM FROM CT_KHUYENMAI, KHUYENMAI WHERE MASP = @masp and KHUYENMAI.MAKM = CT_KHUYENMAI.MAKM AND NGAYKETTHUC > GETDATE()
	SELECT @GIA = DONGIA FROM SANPHAM WHERE MASP = @masp
	IF (@PHANTRAM > 0)
	BEGIN
	SELECT @GIA - (@PHANTRAM/100)*@GIA;
	END
	ELSE 
	BEGIN
	SELECT 0;
	END
END



GO
/****** Object:  StoredProcedure [dbo].[SP_LAYGIAHIENTAI]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYGIAHIENTAI]
@masp varchar(15), @ngay Date
AS
BEGIN

	IF EXISTS (SELECT * FROM DOIGIA WHERE MASP = @masp)
	BEGIN
	SELECT TOP 1  GIASAUDOI FROM DOIGIA WHERE MASP = @masp AND NGAY < @ngay
	ORDER BY NGAY DESC
	END
	ELSE
	BEGIN
	SELECT -1;
	END
END



GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKE]    Script Date: 9/7/2021 10:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGKE]
AS
BEGIN
	SELECT MONTH(NGAYLAP) AS THANG, SUM(THANHTIEN) AS DOANHTHU 
	FROM HOADON
	WHERE MONTH(NGAYLAP) > (MONTH(GETDATE())-6)
	GROUP BY MONTH(NGAYLAP)
	ORDER BY MONTH(NGAYLAP)
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 mới 1 cũ 2 ngừng bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SANPHAM', @level2type=N'COLUMN',@level2name=N'TRANGTHAI'
GO
USE [master]
GO
